---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
import type { CastMember } from "../../content/config";
import Link from "../../components/Link.astro";
import {createBreadcrumbListJsonLD, getPersonJsonLd} from "../../shared/json-ld-helpers";
import {getRouteByName} from "../../shared/links";
import {RoutesName} from "../../types";

export async function getStaticPaths() {
  const castEntry = await getEntry("cast", "cast");
  const { cast: persons }: { cast: CastMember[] } = castEntry.data;

  return persons.map((person) => ({
    params: { slug: person.slug },
    props: { person },
  }));
}

const person: CastMember | undefined = Astro.props.person;
---

<Layout
    url=`${import.meta.env.FULL_BASE_URL}${person.url}`
    title={person.title || "Игра в кальмара 2"}
    description={person.description}
    jsonLd={{
      "@context": "https://schema.org",
      "@graph": [
        createBreadcrumbListJsonLD([
          {
            name: "Главная",
            url: `${import.meta.env.FULL_BASE_URL}`
          },
          {
            name: "Актеры и съемочная группа",
            url: `${import.meta.env.FULL_BASE_URL}${getRouteByName(RoutesName.FILM_CREW).href}`
          },
          {
            name: person.name,
            url: `${import.meta.env.FULL_BASE_URL}${person.url}`
          }
        ]),
        getPersonJsonLd(person)
      ]
    }}
>
  <section
    class="bg-dark-bg text-white px-6 sm:px-8 md:px-12 lg:px-16 py-10 font-primary"
  >
    <nav class="text-secondary text-sm mb-8">
      <Link href={getRouteByName(RoutesName.MAIN).title} class="hover:underline">{getRouteByName(RoutesName.MAIN).title}</Link> /
      <Link href={getRouteByName(RoutesName.FILM_CREW).href} class="hover:underline">{getRouteByName(RoutesName.FILM_CREW).title}</Link> /
      {
        person ? person.name : "Персона не найдена"
      }
    </nav>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 md:gap-20 mb-6">
      <div
        class="w-[200px] h-[200px] sm:w-[240px] sm:h-[240px] md:w-[280px] md:h-[280px] lg:w-[320px] lg:h-[320px] rounded-full overflow-hidden bg-gray-200 flex justify-center items-center mx-auto"
      >
        <img
          src={person?.image.src}
          alt={person?.name}
          class="w-full h-full object-cover"
        />
      </div>

      <div class="lg:col-span-2 px-4 sm:px-8 md:px-12 lg:px-0">
        <h2
          class="text-2xl md:text-3xl font-bold mb-4 text-white text-center lg:text-left"
        >
          {person?.name}
        </h2>

        <div class="flex flex-col items-center lg:items-start gap-2">
          <p class="text-base-medium text-secondary">Карьера:</p>
          <p class="text-sm text-gray-400">{person?.role}</p>
        </div>

        <div class="flex flex-col items-center lg:items-start gap-2">
          <p class="text-base-medium text-secondary">Дата рождения:</p>
          <p class="text-sm text-gray-400">{person?.birth}</p>
        </div>

        <div class="flex flex-col gap-2 mt-6 items-center lg:items-start">
          <p class="text-xl md:text-2xl text-white">Биография</p>
          <p class="text-sm text-gray-400 text-center lg:text-left">
            {person?.bio}
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
